
@{
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";
    ViewData["Title"] = "Setting Dashboard";
}

<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Welcome To HRMS Portal!</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Setting Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

    


</div>

